body {
    position: relative;
    background-color: rgb(251, 253, 255);
}

/*--------------------------------
        Header and Search bar
  -------------------------------*/

  h1 {
    text-align: center;
    font-size: 25px;
    padding: 0 15px;
}

input {
    height: 30px;
    margin-left: 15px;
}

/*---------------------------------------
      Overlay positioning and styling 
  --------------------------------------*/

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width:180px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.left,
.right {
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 60px;
}

.right {
    top: 20%;
    left: 100%;
}

.left {
    top: 20%;
    right: 100%;
}

/*--------------------------------
            Grid container  
  -------------------------------*/

  .grid-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding-bottom: 50px;
  }

  .card {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-around;
    border: 1px solid rgb(193, 193, 195);
    background-color: #fff;
    border-radius: 3%;
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    cursor: pointer;
  }

  .text-container {
    text-align: center;
  }

  .name {
      font-size: 20px;
  }

  .grid-container .email,
  .grid-container .address {
      color:#778;
      font-size: 12px;
  }

  /* Images */

  .avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-top: 13px;
  }

  /*--------------------------------
            Media queries  
  -------------------------------*/
  @media (min-width: 768px) {
      .card {
          width: 45%;
          min-width: 330px;
          flex-wrap: wrap;
          margin-bottom: 15px;
      }

      .text-container {
          text-align: left;
      }

      .grid-container .email,
      .grid-container .address {
          font-size: 16px;
      }

      .modal {
        width: 335px;
      }

      .avatar {
          margin-top: 20px;
      }

      header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     }

     input {
         margin: 20px 20px 0 0;
         width: 25%;
     }
  }


  @media (min-width: 1024px) {
    body {
        max-width: 1100px;
        margin: 0 auto;
    }
    
    .card {
        width: 30%;
    }
}